.footer {
  background: #222426;
  color: #ffffff;
  padding: 26px 0;
  margin-top: 30px;
}

.footer__container {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  color: #cfcfcf;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .footer__copyright {
    line-height: 14px;
  }
}
